body {
    background-color: white
}


header {
    background-color: black;
    text-align: center;
    height: 200px;
    margin-top: -20px;
    width: 500px;
}

header h1 {
    color: white;
    padding-top: 20px;
}

